/*

-- TYPOGRAPHY

FONT SIZE SYSTEM (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

FONT WEIGHTS
DEFAULT: 400
500
600
700

LINE HEIGHTS
DEFAULT: 1
1.05
1.6

-- COLORS

PRIMARY
#e67e22

TINTS
#fdf2e9
#fae5d3

SHADES
#cf711f

ACCENTS
#51cf66
#ffd43b
#94d82d

GREYS
#555 #333


-- SHADOWS

-- BORDER RADIUS
9px
11px

-- WHITESPACES

SPACING SYSTEM (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128

*/

/* HEADER */

.main-header {
  display: flex;
  align-items: center;
  height: 9.6rem;
  padding: 0 4.8rem;
  background-color: #fae5d3;
}

.logo-img-header {
  height: 2.2rem;
  margin-right: auto;
  display: block;
}

.nav-list {
  list-style: none;
  display: flex;
  flex-direction: row;
  gap: 1.6rem;
  align-items: center;
}

.nav-element:link,
.nav-element:visited {
  text-decoration: none;
  color: #333;
  font-size: 1.6rem;
  font-weight: 500;
  transition: all 0.3s;
}

.nav-element:hover,
.nav-element:active {
  color: #cf711f;
}

.nav-element.nav-cta:link,
.nav-element.nav-cta:visited {
  padding: 0.8rem 1.6rem;
  background-color: #e67e22;
  border-radius: 9px;
  color: #fff;
  transition: all 0.3s;
}

.nav-element.nav-cta:hover,
.nav-element.nav-cta:active {
  background-color: #cf711f;
}

/* HERO SECTION */

.section-hero {
  padding: 4.8rem 0 9.6rem 0;
  background-color: #fae5d3;
}

.hero-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  align-items: center;
  max-width: 130rem;
  margin: 0 auto;
  gap: 9.6rem;
  padding: 0 3.2rem;
}

.heading-primary {
  font-size: 5.2rem;
  line-height: 1.05;
  margin-bottom: 3.2rem;
}

.hero-description {
  font-size: 2rem;
  margin-bottom: 4.8rem;
  line-height: 1.6;
}

.hero-link:link,
.hero-link:visited {
  font-size: 2rem;
  font-weight: 600;
  text-decoration: none;
  border-radius: 9px;
  padding: 1.6rem 3.2rem;
  display: inline-block;
  transition: all 0.3s;
}

.sub-link:link,
.sub-link:visited {
  background-color: #fff;
  color: #555;
}

.main-link:link,
.main-link:visited {
  background-color: #e67e22;
  color: #fff;
}

.sub-link:hover,
.sub-link:active {
  background-color: #fdf2e9;
  box-shadow: inset 0 0 0 3px #fff;
}

.main-link:hover,
.main-link:active {
  background-color: #cf711f;
}

.delivered-meals {
  display: flex;
  margin-top: 8rem;
  align-items: center;
  gap: 1.6rem;
}

.customers-imgs {
  display: flex;
}

.delivered-text {
  font-size: 1.8rem;
  font-weight: 600;
}

.delivered-text span {
  color: #cf711f;
  font-weight: 700;
}

.customer-img {
  border-radius: 50%;
  height: 4.8rem;
  width: 4.8rem;
  margin-left: -1.6rem;
  border: #fdf2e9 3px solid;
}

.customer-img:first-child {
  margin-left: 0;
}

.hero-img {
  width: 100%;
  display: block;
}

/* FEATURED IN */

.section-featured {
  padding: 4.8rem 0 3.2rem 0;
}

.featured-logos {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.heading-featured {
  font-size: 1.4rem;
  font-weight: 500;
  color: #999;
  text-transform: uppercase;
  margin-bottom: 2.4rem;
  letter-spacing: 0.75px;
  text-align: center;
}

.logo-img-featured {
  height: 3.2rem;
  filter: brightness(0);
  opacity: 50%;
}

/* HOW IT WORKS */

.section-how {
  padding: 9.6rem 0;
}

.step-num {
  font-size: 8.6rem;
  font-weight: 600;
  color: #ddd;
  margin-bottom: 1.2rem;
}

.app-img {
  width: 35%;
}

.step-img-box {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.step-img-box::after,
.step-img-box::before {
  content: "";
  display: block;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.step-img-box::before {
  z-index: -2;
  background-color: #fdf2e9;
  width: 60%;
  padding-bottom: 60%;
}

.step-img-box::after {
  z-index: -1;
  background-color: #fae5d3;
  width: 45%;
  padding-bottom: 45%;
}

.step-description {
  font-size: 1.8rem;
  line-height: 1.6;
}

/* SAMPLE MEALS */

.section-meals {
  padding-bottom: 9.6rem;
}

.meal-card {
  overflow: hidden;
  transition: all 0.4s;
}

.meal-card:hover {
  transform: translateY(-1rem);
  box-shadow: 0 1.6rem 3.2rem rgba(0, 0, 0, 0.08);
}

.meal-img {
  width: 100%;
}

.meal-text-box {
  padding: 3.2rem 4.8rem 4.8rem 4.8rem;
}

.meal-tags {
  margin-bottom: 1.2rem;
}

.meal-tag {
  display: inline-block;
  padding: 0.4rem 0.8rem;
  margin-right: 0.6rem;
  font-size: 1.2rem;
  text-transform: uppercase;
  color: #333;
  border-radius: 100px;
  font-weight: 600;
}

.tag-vegetarian {
  background-color: #51cf66;
}

.tag-vegan {
  background-color: #94d82d;
}

.tag-paleo {
  background-color: #ffd43b;
}

.meal-tag:last-child {
  margin-right: 0;
}

.meal-title {
  font-size: 2.4rem;
  color: #333;
  font-weight: 600;
  margin-bottom: 3.2rem;
}

.meal-attributes {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.meal-attribute {
  font-size: 1.8rem;
  display: flex;
  align-items: center;
  gap: 1.6rem;
}

.meal-icon {
  height: 2.4rem;
  width: 2.4rem;
  color: #cf711f;
}

.diet-title {
  font-size: 2.4rem;
  color: #333;
  font-weight: 600;
  margin-bottom: 2.4rem;
}

.diet-list {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}

.diet-icon {
  color: #e67e22;
  width: 3rem;
  height: 3rem;
}

.diet {
  font-size: 1.8rem;
  display: flex;
  align-items: center;
  gap: 1.6rem;
}

.all-recipes {
  text-align: center;
  font-size: 1.8rem;
}

.recipes-link:link,
.recipes-link:visited {
  text-decoration: none;
  color: #e67e22;
  border-bottom: solid 1.5px currentColor;
  padding-bottom: 2px;
  display: inline-block;
  transition: all 0.2s;
}

.recipes-link:hover,
.recipes-link:active {
  color: #cf711f;
  border-bottom: solid 1.5px transparent;
}

/* TESTIMONIALS AND GALLERY */

.section-testimonials {
  padding: 9.6rem 0;
}

.testimonials {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 4.8rem;
}

.testimonial-img {
  width: 6.4rem;
  border-radius: 50%;
  margin-bottom: 1.2rem;
}

.testimonial-text {
  font-size: 1.8rem;
  line-height: 1.8;
  margin-bottom: 1.6rem;
}

.testimonial-name {
  font-size: 1.6rem;
  color: #777;
}
