/*
SPACING SYSTEM (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128

FONT SIZE SYSTEM (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98
*/

/* COLORS 
MAIN COLOR #087f5b
TEXT COLOR #343a40
*/

/* GLOBAL CONFIGS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
  color: #343a40;
  line-height: 1;
}

.accordion-container {
  width: 700px;
  margin: 100px auto;
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.header-title,
.header-number {
  font-size: 24px;
  font-weight: 700;
}

.icon {
  width: 24px;
  height: 24px;
}

.header-number {
  justify-self: center;
  align-self: center;
  color: #868e96;
}

/* ACCORDION */
.accordion {
  box-shadow: 0 0 24px 0 rgba(52, 58, 64, 0.05);
  display: grid;
  grid-template-columns: auto 1fr auto;
  align-items: center;
  column-gap: 24px;
  row-gap: 32px;
  padding: 24px;
}

/* ACCORDION OPENED */
.opened {
  border-top: #087f5b solid 4px;
}

.opened .header-number,
.opened .header-title,
.opened .icon {
  color: #087f5b;
}

.opened .answer-container {
  display: block;
}

/* ANSWER CONTAINER */
.answer-container {
  grid-column: 2 / 3;
  display: none;
}

.answer {
  margin-bottom: 24px;
  line-height: 1.6;
  color: #343a40;
}

ul {
  margin-left: 20px;
  color: #868e96;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

/* li {
  margin-bottom: 12px;
}

li:last-child {
  margin-bottom: 0;
} */
