/* GLOBAL CONFIGS */
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  color: #444;
  position: relative;
}

.container {
  width: 1200px;
  margin: 0 auto;
}

/* HEADERS AND PARAGRAPHS */
h1,
h2,
h3,
h4 {
  color: #1d98ad;
}

h2,
h3 {
  border-bottom: 3px solid #72d6e7;
  background-color: #f7f7f7;
}

h1 {
  font-size: 26px;
  font-style: italic;
  text-transform: uppercase;
}

h1::first-letter {
  font-style: normal;
  margin-right: 5px;
}

h2 {
  font-size: 40px;
  margin-bottom: 40px;
  position: relative;
}

h2::after {
  content: "TOP";
  background-color: #ffe70e;
  color: #000;
  font-size: 16px;
  padding: 5px 10px;
  display: inline-block;
  position: absolute;
  top: -10px;
  right: -20px;
}

h3 {
  font-size: 24px;
  margin-bottom: 20px;
}

h4 {
  font-size: 22px;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 20px;
}

p {
  font-size: 20px;
  margin-bottom: 15px;
}

.main-header {
  background-color: #f7f7f7;
  padding: 20px 40px;
  margin-bottom: 40px;
  border-bottom: 3px solid #72d6e7;
}

.article-header {
  margin-bottom: 20px;
}

.author {
  font-size: 18px;
  font-style: italic;
  margin-bottom: 0;
  margin-left: 15px;
}

.post-img {
  width: 100%;
  height: auto;
}

/* LISTS */
ol,
ul {
  margin-left: 30px;
  margin-bottom: 20px;
}

li {
  font-size: 20px;
  margin-bottom: 10px;
}

li:last-child {
  margin-bottom: 0px;
}

.related-list {
  list-style: none;
  margin-left: 0;
}

.related-author {
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 0;
  font-weight: normal;
  font-style: italic;
}

.related-link {
  font-size: 17px;
  font-weight: bold;
}

/* .related-image {
  margin-right: 18px;
} */

/* ASIDE */
aside {
  background-color: #f7f7f7;
  border-top: 3px solid #72d6e7;
  border-bottom: 3px solid #72d6e7;
  padding: 30px 40px;
  margin-bottom: 30px;
  width: 100%;
}

/* LINKS */
nav a:link {
  display: inline-block;
  margin-right: 20px;
}

nav a:link:last-child {
  margin-right: 0;
}

aside a:link {
  display: inline-block;
  /* margin-bottom: 20px; */
}

a:link {
  color: #1d98ad;
  text-decoration: none;
}

a:visited {
  color: #1d98ad;
}

a:hover {
  font-weight: bold;
  border-bottom: 2px #1d98ad solid;
}

a:active {
  background-color: #72d6e7;
}

/* FOOTER */
.copyright {
  font-size: 16px;
  border-top: #72d6e7 3px solid;
  padding-top: 5px;
  /* margin-top: 50px; */
}

/* BUTTONS */
.like {
  padding: 20px;
  font-size: 20px;
  border: 2px solid #72d6e7;
  background-color: #f7f7f7;
  position: absolute;
  right: 50px;
  bottom: 100px;
}

.like:hover {
  color: #1d98ad;
  cursor: pointer;
}

/* FLEXBOX */
.main-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.author-container {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.related-post {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-bottom: 30px;
}

/* CSS GRID LAYOUT */
.container {
  display: grid;
  grid-template-columns: 1fr 300px;
  column-gap: 75px;
  row-gap: 40px;
  align-items: start;
}

.main-header {
  grid-column: 1 / -1;
  margin-bottom: 0;
}

footer {
  grid-column: 1 / -1;
}

/* .flex-container {
  display: flex;
  gap: 75px;
  margin-bottom: 50px;
  align-items: flex-start;
}

article {
  flex: 0 1 825px;
}

aside {
  flex: 0 1 300px;
} */
/* FLOATS */
/*.author-img {
  float: left;
}

.author {
  float: left;
  margin-left: 10px;
  margin-top: 15px;
}

h1 {
  float: left;
}

.site-name {
  margin-bottom: 0;
}

nav {
  float: right;
}

.clearing {
  clear: both;
}

.container {
  width: 1200px;
}

article {
  width: 830px;
  float: left;
}

aside {
  width: 300px;
  float: right;
}

footer {
  clear: both;
}

/* CODE EXAMPLES */

/* ADJACENT SELECTOR */
/* h3 + p::first-line {
  color: #1d98ad;
} */

/* #article-header {
  color: red;
}
#article-header {
  color: yellow;
}
#article-header {
  color: blue;
}

.article-header {
  color: black;
}

article header h2 {
  color: pink;
} */
/* The color will be blue */

/* Misconceptions */

/* footer p {
  font-size: 16px;
}

article header p {
  font-size: 18px;
  font-style: italic;
} */ ;
